body {
    background-color: #6F532A;
}
header {
    margin: 10% auto 5px;
    text-align: center;
}
h1 {
    text-align: center;
    margin: 0 auto;
}
#startButton {
    text-align: center;
    background-color: rgba(236, 126, 0, 50%);
}
#battlePlan {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;
    margin: 0 auto 10px;
    width: 500px;
    height: 300px;
}
#playerGarden {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;
    margin: 0 auto;
    width: 500px;
    height: 300px;
}